user: nobody
hosts:
  "localhost": # should override to your.function.host
    listen:
      port: 80
    paths:
      "/":
        proxy.reverse.url: "http://ui:4000/"
        proxy.preserve-host: ON
      "/endpoint":
        proxy.reverse.url: "http://api:8080/"
        proxy.preserve-host: ON

access-log: /var/log/h2o/access-log
error-log:  /var/log/h2o/error-log
